<p style="color: green"><%= notice %></p>

<h1>Пользователи</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Показать пользователя", user %>
    </p>
  <% end %>
</div>

<%= link_to "Новый пользватель", new_user_path %>
